.row {
  margin-left: 20px;
}
.row__posters {
  display: flex;
  align-items: center;
  margin: 10px;
  overflow-y: hidden;
  overflow-x: scroll;
}

.row__posters::-webkit-scrollbar {
  display: none;
}

.row__poster {
  cursor: pointer;
  width: 100%;
  object-fit: contain;
  max-height: 200px;
  margin: 20px;
  transition: transform 0.5s;
}

.row__poster:hover {
  transform: scale(1.08);
  opacity: 0.9;
}

.row__posterlarge {
  max-height: 250px;
}

.row__posterlarge :hover {
  transform: scale(1.09);
}

.youtube__trailer {
  padding-right: 20px;
}
